<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js html-inner"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Mensagem do Reitor / <%= title %></title>

    <% include includes/header.ejs %>
</head>
<body>
	<div class="top-inner">
		<div class="container">
			<div class="line">
				<div class="top-inner-content">
					<a href="/" class="animated slideDown top-inner-logo"></a>
					<p><a href="/" class="top-inner-back">&laquo; Voltar</a></p>
					<h1 class="top-inner-title">Mensagem do Reitor</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container container-internas">
		<div class="content-inner">
			<div class="line">
				<div class="content-inner-sidebar">
					<img src="assets/img/reitor-photo.jpg" alt="Sebastião Salésio Herdt" class="sidebar-photo">
					<h2 class="sidebar-name">Sebastião<br />Salésio Herdt</h2>
					<span class="sidebar-description">Reitor da Unisul</span>
				</div>
				<div class="content-inner-main">
					<div class="main-content">
						<h2 class="main-inner-title">Em 2014, a Unisul completa 50 anos.</h2>
						<p>O cinquentenário nos estimula a comemorar, agradecer e, sobretudo, a construir novos caminhos e prosseguir, tendo como referência a fertilidade das primeiras cinco décadas.</p>

						<p>De vocação comunitária e espírito empreendedor, as ações da Unisul são (e estão) pautadas por necessidades oriundas da realidade do entorno. Nossas ações são significativas porque são pertinentes à contribuição social, cultural e econômica das comunidades onde atuamos.</p>

						<p>Mas, temos a convicção de que é possível fazer mais e fazer melhor diante dos novos tempos, desafios e seus efeitos, numa sociedade global e em permanente transformação.</p>

						<p>Para a Unisul, o foco da atenção das estruturas universitárias deve estar sempre nas pessoas: no estudante, no professor, no gestor, no quadro técnico-administrativo, nas comunidades. Estes protagonistas, juntos, são o eixo em torno do qual gira a vida da Universidade.</p>

						<p>Seguimos com um simples, mas extraordinário, desafio: tornar a Unisul cada vez mais humana e com isto torná-la uma Universidade de referência pela qualidade e excelência de suas ações. Seja aqui ou em qualquer outro lugar onde esta Universidade estiver presente, a força do seu capital humano, a bagagem de suas realizações, suas convicções e valores, tornam-se elementos necessários para promoção de um futuro promissor.</p>

						<p>Por isso, sigamos - neste espaço interativo - registrando fatos e sonhos, ideias e ideais, para que continuemos a construir as próximas décadas de uma história plural e colaborativa.</p>
					</div>
					<div class="footer-main-inner">
						<a href="/" class="footer-back-link">&laquo; Voltar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% include includes/footer.ejs %>
</body>
</html>