// Color
color-primary          = #417686
color-secondary        = #dec699
color-blue-hard        = #004362
color-orange           = #ea662e
color-meta             = #e5a866
color-font             = #555
color-border           = #aaa
color-link             = #000

// Button
btn-size-shadow  = 3
btn-bg-success   = #2ecc71
btn-bg-info      = #3498db

// Folders
folder-img  = '../img/'

// Generate fonts
webfont('playfair_italic', 'playfairdisplay-italic-webfont', false)
webfont('playfair_italic_bold', 'playfairdisplay-bolditalic-webfont', true)
webfont('unisul-50-anos', 'unisul-50-anos', true)

// Font
font-default     = "Times", Times, serif
font-title       = "playfair_italic", Times, serif
font-title-bold  = "playfair_italic_bold", Georgia, Times, serif
font-serif       = "Georgia", serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-icon        = "unisul-50-anos"

// Structure
container-base        = 1040px
container-base-inner  = container-base - 150