// Color
color-primary    	   = #34495e
color-background 	   = #363635
color-background-main  = #fff
color-font       	   = #555
color-meta       	   = #999
color-border     	   = #ddd
color-link       	   = #000

// Button
btn-size-shadow  = 3
btn-bg-success   = #2ecc71
btn-bg-info      = #3498db

// Generate fonts
webfont('FengardoNeueRegular', 'FengardoNeue_Regular-webfont', true)
webfont('ralewaybold', 'raleway-bold-webfont', true)
webfont('Open Sans', 'OpenSans-Regular-webfont', false)
webfont('icons', 'icons', true)
webfont('FontAwesome', 'fontawesome-webfont', false)

// Font
font-default     = "Open Sans", Arial, helvetica, sans-serif
font-title       = "ralewaybold", Arial, helvetica, sans-serif
font-serif       = "Georgia", serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-icon        = FontAwesome

// Sintax Hightlight
sh-bg            = #444
sh-text          = #eee

// Width
page-width = 1500px